.AddPostForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropzoneInput {
  background-color: var(--input-color);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.dropzoneInput:hover {
  color: var(--effect-color);
  background-color: var(--bg-color);
}
