.AuthPage {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./../../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.iiii {
  width: 100%;
  height: 100vh;
}

.btn-auth {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 1200px) {
  .AuthPage {
    background-size: cover;
    background-position-x: 100%;
  }
}

@media (max-width: 800px) {
  .AuthPage {
    background-size: cover;
    background-position-x: 80%;
  }
}

@media (max-width: 400px) {
  .AuthPage {
    background-size: cover;
    background-position-x: 70%;
  }
}
