::placeholder {
  color: var(--text-color) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ProductForm {
  width: 30%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-bg-color);
  border-radius: 20px;
  padding: 2%;
  z-index: 5;
}
.product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addProductForm h2 {
  margin-top: 20px;
  text-align: center;
}

.toClose {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--effect-color);
  cursor: pointer;
}

.toClose:hover {
  color: var(--hover-color);
}

.product-input {
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-input input {
  width: 100%;
  height: 25px;
  background-color: var(--input-color);
  outline: none;
  border: none;
  border-radius: 10px;
}

.btn-product input {
  background: linear-gradient(
    45deg,
    var(--btn-left-color),
    var(--btn-right-color)
  );
  height: 40px;
  cursor: pointer;
  font-weight: 800;
}

.btn-product input:hover {
  background: linear-gradient(
    45deg,
    var(--btn-right-color),
    var(--btn-left-color)
  );
}

.product-input p {
  padding: 15px;
  text-align: center;
  background-color: var(--effect-color);
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
}
.product-input p:hover {
  background-color: var(--hover-color);
}

@media (max-width: 1200px) {
  .ProductForm {
    width: 40%;
  }
}
@media (max-width: 756px) {
  .ProductForm {
    width: 80%;
  }
}
