.ChatPage {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 200px;
  height: calc(100vh - 50px);
}

.userMessage {
  background: linear-gradient(45deg, var(--bg-color), var(--chat-color));
  max-height: 100px;
  position: sticky;
  top: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  z-index: 10;
  padding: 5px;
}

.img-div-user {
  display: flex;
  align-items: center;
}
.userMessage h2 {
  display: inline;
}

.userMessage img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  /* margin-right: 20px; */
  border: 3px solid var(--border-color);
}

.msg {
  width: 45%;
  margin-top: 2px;
  border-radius: 10px;
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
}

.msg h5 {
  margin: 0;
  padding: 5px;
}

.msg p {
  opacity: 0.9;
  position: absolute;
  bottom: -10px;
  right: 10px;
  font-size: 10px;
}

.userAuthMessage {
  background: linear-gradient(45deg, var(--bg-color), var(--dark-bg-color));
  position: relative;
  left: 52.5%;
}

.message {
  position: relative;
  background: linear-gradient(45deg, var(--chat-color), var(--bg-color));
  left: 2.5%;
}

.input-chat {
  position: absolute;
  bottom: 0;
  background: linear-gradient(45deg, var(--fore-color), var(--chat-color));
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  z-index: 10;
}

.input-chat input {
  background-color: var(--bg-color);
  border: none;
  outline: none;
  border-bottom: 3px solid var(--border-color);
  width: 90%;
  border-radius: 7px;
  height: 20px;
}

.input-chat button {
  margin-left: 5px;
  background: linear-gradient(
    45deg,
    var(--btn-left-color),
    var(--btn-right-color)
  );
  border-radius: 10px;
  border: none;
  height: 25px;
  font-weight: 400;
  padding: 0 10px;
  cursor: pointer;
}

.input-chat button:hover {
  background: linear-gradient(
    45deg,
    var(--btn-right-color),
    var(--btn-left-color)
  );
}

.box-chat {
  width: 100%;
  height: 73vh;
}

.LoadingChat {
  position: relative;
  width: 100%;
  height: 80%;
  border-radius: 20px;
}

.LoadingChat span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

@media (max-width: 1400px) {
  .ChatPage {
    margin: 0;
  }
  .input-chat {
    margin-bottom: 0px;
  }
}
