:root {
  --bg_color: rgb(250, 239, 250);
  --darkviolet: rgb(125, 66, 125);
}

.ProfilePage {
  position: relative;
  top: 50px;
  margin: 0 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-Info {
  background-color: var(--bg_color);
  border-radius: 20px;
  margin-top: 25px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.user-info-sec {
  display: flex;
  align-items: center;
}

.pro-info-img {
  position: relative;
  margin-right: 20px;
}

.pro-info-img img {
  border: 4px solid var(--darkviolet);
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.pro-create-at {
  opacity: 0.5;
}

.pro-info h3 {
  margin-bottom: 5px;
}

.pro-btn {
  display: flex;
  justify-content: space-around;
}

.pro-btn button {
  border-radius: 20px 20px 20px 0;
  border: none;
  padding: 10px 15px;
  /* margin-left: 30px; */
  cursor: pointer;
  background: linear-gradient(45deg, #f3d0f5, violet);
  color: white;
  font-weight: 400;
}

.message-btn {
  background: linear-gradient(45deg, #f3d0f5, blue) !important;
}
.block-btn {
  background: linear-gradient(45deg, #f3d0f5, red) !important;
}
.block-btn:hover {
  background: linear-gradient(45deg, red, black) !important;
}

.message-btn:hover {
  background: linear-gradient(45deg, blue, white) !important;
}

.follow-btn:hover {
  background: linear-gradient(45deg, white, rgb(234, 5, 234));
}
.unfollow-btn {
  background: linear-gradient(45deg, #f3d0f5, var(--darkviolet)) !important;
}
.unfollow-btn:hover {
  background: linear-gradient(45deg, black, var(--darkviolet)) !important;
}

.update-profile-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--darkviolet);
  cursor: pointer;
}

.update-profile-btn:hover {
  color: violet;
}

.pro-posts {
  background-color: var(--bg_color);
  border-radius: 20px;
  margin-top: 25px;
  padding: 20px;
  display: flex;
  gap: 3.33%;
  align-items: center;
  flex-wrap: wrap;
}

.pro-post {
  background: linear-gradient(45deg, #f3d0f5, #d3bae9);
  padding: 15px 0;
  border-radius: 20px;
  width: 31%;
  margin-top: 40px;
}

.pro-post img {
  width: 100%;
  height: 90%;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 10px;
}

.pro-opinions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 0 10px;
}

.pro-post {
  position: relative;
}

.edit-delete-post {
  position: absolute;
  top: 5px;
  right: 10px;
}

.edit-delete-post svg {
  margin: 0 5px;
  color: var(--darkviolet);
  cursor: pointer;
}

.edit-delete-post svg:hover {
  color: violet;
}

.pro-right-section {
  width: 40%;
}

.user-interaction {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.user-interaction h3 {
  margin: 0;
  text-align: center;
}

@media (max-width: 1400px) {
  .ProfilePage {
    margin: 0 100px;
  }

  .pro-right-section {
    width: 50%;
  }

  .user-Info {
    justify-content: space-between;
  }

  .pro-info-img img {
    width: 100px;
    height: 100px;
  }

  .pro-btn button {
    padding: 5px 15px;
  }

  .opinion {
    margin-left: 10px;
    padding: 0;
  }
}

.to-uploadProfileImg svg {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  right: 10%;
  bottom: 10%;
  color: violet;
}
.to-uploadProfileImg:hover {
  color: var(--darkviolet);
}

@media (max-width: 856px) {
  .ProfilePage {
    margin: 0 10px;
  }

  .pro-right-section {
    width: 50%;
  }

  .to-uploadProfileImg svg {
    font-size: 25px;
  }

  .pro-info-img img {
    width: 75px;
    height: 75px;
  }
  .pro-btn button {
    padding: 5px 10px;
  }
  .user-info-sec {
    flex-direction: column;
  }
  .pro-info h3,
  .pro-info p {
    margin: 0 !important;
  }
  .opinion {
    margin: 0 5px;
    padding: 0;
  }
  .opinion svg {
    font-size: 10px !important;
  }
  .pro-post {
    width: 90%;
  }
  .pro-posts {
    gap: 0;
    justify-content: center;
    padding: 5px;
  }
}
