.ProfileSide {
  background-color: var(--bg-color);
  position: sticky;
  top: 50px;
  margin-top: 50px;
  height: calc(100vh - 50px);
}

.profile-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.profile-home img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border: 4px solid var(--border-color);
  border-radius: 100%;
  cursor: pointer;
}

.New-friend {
  padding: 40px 0;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-radius: 5px;
}

.friend-home {
  display: flex;
  align-items: center;
  padding: 10px;
}

.friend-home div {
  margin: 0 10px;
}

.friend-home img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 4px solid var(--border-color);
  border-radius: 100%;
  cursor: pointer;
}

.friend-home h4 {
  margin: 0;
}

@media (max-width: 1200px) {
  .ProfileSide {
    display: none;
  }
}
