.home-page {
  display: grid;
  grid-template-columns: 20% 50% 28%;
  gap: calc(2% / 2);
}

@media (max-width: 1200px) {
  .home-page {
    display: grid;
    grid-template-columns: 70% 27.5%;
    font-size: 12px;
  }
}
@media (max-width: 756px) {
  .home-page {
    display: grid;
    grid-template-columns: 100%;
    font-size: 10px;
  }
}
