.navbar {
  height: 50px;
  width: 100vw;
  background: linear-gradient(45deg, var(--bg-color), var(--dark-bg-color));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.options {
  display: flex;
  position: relative;
}

.options .option {
  margin: 0 15px;
  font-weight: bold;
  cursor: pointer;
  color: var(--effect-color);
}

.options .option:hover {
  color: var(--hover-color);
}

.logo-icon {
  padding-left: 30px;
  cursor: pointer;
}

.nav-profile {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid var(--border-color);
}

.icon-home {
  color: var(--effect-color);
}
.icon-home:hover {
  color: var(--hover-color);
}

.imgProfile-setting {
  width: 120px;
  background-color: var(--dark-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
  position: absolute;
  padding: 10px;
  top: 50px;
  right: 20px;
}

.imgProfile-setting div {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
}

.imgPro-option {
  width: 100px;
  background: var(--bg-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  padding: 5%;
  text-align: center;
  margin-top: 10%;
}

.imgPro-option:hover {
  background-color: var(--hover-color);
  color: var(--bg-color);
}

.selectedPath {
  color: var(--hover-color) !important;
  border-bottom: 2px solid var(--hover-color);
}

@media (max-width: 500px) {
  .nav-profile {
    padding-right: 10px;
  }
  .logo-icon {
    padding-left: 10px;
  }

  .imgProfile-setting {
    right: 10px;
  }
}
