:root {
  --darkviolet: rgb(125, 66, 125);
  --bg_color: rgb(250, 239, 250);
}

.navbar {
  height: 50px;
  width: 100vw;
  background: linear-gradient(45deg, #f3d0f5, #d3bae9);
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.options {
  display: flex;
}

.options .option {
  margin: 0 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.options .option:hover {
  color: var(--darkviolet);
}

.logo-icon {
  padding-left: 30px;
  cursor: pointer;
}

.nav-profile {
  padding-right: 30px;
}

.nav-profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid var(--darkviolet);
}

.icon-home {
  color: white;
}

.icon-home:hover {
  color: var(--darkviolet);
}

.imgProfile-setting {
  position: absolute;
  background-color: var(--blueViolet);
  border-radius: 5px;
  padding: 10px;
  right: 20px;
  width: 100px;
}

.imgProfile-setting div {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
}

.imgProfile-setting {
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.imgPro-option {
  background: var(--bg_color);
  text-decoration: none;
  color: var(--darkviolet);
  border-radius: 5px;
  padding: 5%;
  margin-top: 10%;
}
.imgProfile-setting button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  background-color: var(--bg_color);
  padding: 10px;
}

.imgProfile-setting div:hover {
  background-color: #d3bae9;
}
