.LoadingProdDetails {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
}

.load-info-product {
  position: relative;
  width: 45%;
  height: 45%;
  background-color: var(--bg-color);
}

.load-info-product span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  display: flex;
}

.load-imgs-product {
  width: 45%;
  height: 45%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.load-imgs-product span {
  width: 50% !important;
  background-color: var(--bg-color);
  position: relative;
}

.load-imgs-product span span {
  position: absolute;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .LoadingProdDetails {
    flex-direction: column;
  }
  .LoadingProdDetails div {
    width: 70%;
  }
}
@media (max-width: 756px) {
  .load-imgs-product span {
    height: 40%;
  }
  .load-imgs-product span span {
    font-size: 10px;
  }
}
