.LoadingProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 75px;
  margin: 0 250px;
}

.l {
  position: relative;
  width: 100%;
  border-radius: 10px;
  background-color: var(--bg-color);
}

.l1 {
  height: 170px;
}

.l2 {
  height: 450px;
  margin-top: 25px;
}

.LoadingProfile div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

@media (max-width: 1400px) {
  .LoadingProfile {
    margin: 0 100px;
  }
}

@media (max-width: 856px) {
  .LoadingProfile {
    margin: 0 10px;
  }
}
