.load-market {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.load-section {
  top: 125px;
  width: 95%;
  height: 228px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.load-market .load {
  min-width: 23%;
  height: 100%;
  margin-top: 20px;
  background-color: var(--bg-color);
  border-radius: 10px;
  position: relative;
}

.load-market div div span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

@media (min-width: 1200px) {
  .load-market {
    position: absolute;
    left: 21%;
    width: 79%;
  }
}
@media (max-width: 800px) {
  .load-market .load {
    width: calc(96% / 2);
  }
}
@media (max-width: 400px) {
  .load-market .load {
    width: 90%;
  }
}
