.LoadingProdDetails {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
}

.loadProdDetail {
  border-radius: 10px;
}

.load-info-product {
  position: relative;
  width: 45%;
  height: 45%;
  background-color: var(--bg-color);
}

.load-info-product span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.load-imgs-product {
  width: 45%;
  height: 45%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.load-imgs-product span {
  width: 50% !important;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.load-imgs-product span span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

@media (max-width: 1200px) {
  .LoadingProdDetails {
    flex-direction: column;
  }
  .loadProdDetail {
    width: 90%;
  }
}
