.UpdateProfile {
  width: 40%;
  background-color: var(--dark-bg-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 2.5%;
}

.updateProfileForm {
  width: 90%;
}

.UpdateProfile h2 {
  text-align: center;
}

.UpdateProfile form {
  width: 100%;
}

.update-pro-input {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.update-pro-input input {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: var(--input-color);
  border: none;
  border-bottom: 3px solid var(--border-color);
  border-radius: 10px;
  outline: none;
}

.btn-update-pro {
  text-align: center;
  position: relative;
  margin-top: 5%;
  text-align: center;
}

.btn-update-pro button {
  background: linear-gradient(
    45deg,
    var(--btn-left-color),
    var(--btn-right-color)
  );
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 400;
}

.btn-update-pro button:hover {
  background: linear-gradient(
    45deg,
    var(--btn-right-color),
    var(--btn-left-color)
  );
}

.to-close-form {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--effect-color);
  cursor: pointer;
}

.to-close-form:hover {
  color: var(--hover-color);
}

@media (max-width: 450px) {
  .UpdateProfile {
    width: 70%;
  }
}

@media (max-width: 756px) {
  .UpdateProfile {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .UpdateProfile {
    width: 50%;
  }
}
