@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,100&family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400&family=Unbounded:wght@300&display=swap");

:root {
  /* --bg-color: #3f5e60; */
  --bg-color: #f0ffff;
  --dark-bg-color: #142664;
  --fore-color: #bac7cd;
  --form-text-color: #afdde5;
  --text-color: #2f4f4f;
  /* --effect-color: #17e9e0; */
  --effect-color: #000080;
  --hover-color: #66fcf1;
  --btn-left-color: #cae4f6;
  --btn-right-color: #120460;
  --border-color: #ae62f8;
  --input-color: #1e8eab;
  --chat-color: #4682b4;
  --error-color: red;
}
html {
  background-color: var(--fore-color);
}

svg {
  font-size: 22px !important;
}

.App {
  min-height: 100vh;
  color: var(--text-color);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-family: "Unbounded", cursive;
  font-size: 18px;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 22px;
}

.body {
  font-size: 0;
  margin: 0;
  padding: 0;
  background-color: var(--fore-color) !important;
}
.error {
  color: red;
}

@media (max-width: 1200px) {
  h3 {
    font-size: 18px;
  }
  .App {
    font-size: 16px;
  }
  svg {
    font-size: 20px !important;
  }
}
@media (max-width: 756px) {
  h3 {
    font-size: 14px;
  }
  .App {
    font-size: 12px;
  }
  svg {
    font-size: 18px !important;
  }
}
