@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,100&family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400&family=Unbounded:wght@300&display=swap");

:root {
  --bg_color: rgb(250, 239, 250);
  --darkviolet: rgb(125, 66, 125);
  --blueViolet: #d3bae9;
  --violet: violet;
  --blue: blue;
  --move: rgb(115, 0, 255);
}

.App {
  color: var(--darkviolet);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-family: "Unbounded", cursive;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .App {
    font-size: 10px;
  }
}
@media (max-width: 756px) {
  .App {
    font-size: 8px;
  }
}
